# ========================================
# DATABASE CONFIGURATION
# ========================================

# Database URL for application
DATABASE_URL="postgresql://docker:docker07@localhost:5705/movy?schema=public"

# Direct connection to the database (used for migrations)
# Note: use if you encounter migration issues
DIRECT_URL=""

# ========================================
# APPLICATION CONFIGURATION
# ========================================

# Server port
PORT=3001

